#scene3__panel {
    height: 100vh;
}

#scene3__mainMessage {
    position: absolute;
    margin: 5% 0 0 10%;
    width: 35%;
    text-align: left;
    font-family: Graphik Web Regular;
    font-weight: 1000;
    font-size: calc(10px + 5vmin);
}

#scene3__controlPanel {position: absolute;
    margin: 5% 0 0 50%;
    height: 40vh;
    width: 35vw;
    background-color: gray;
}

#MASTER_PANEL {
    border: 6px solid pink;
}