#dashboardBuilder{
    position: relative;
    height: 80vh;
    width: 100vw;
}
#dashboardBuilder__panel {
    position: absolute;
    margin:  20vh 10vw 0 10vw;
    height: 60vh;
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

#dashboardBuilder__msg {
    width: 40%;
    text-align: left;
    font-family: Graphik Web Regular;
}

#dashboardBuilder__mainMsg {
    font-weight: 1000;
    font-size: calc(10px + 5vmin);
    margin: 0;
}

#dashboardBuilder__subMsg {
    text-align: center;
    font-weight: 1000;
    font-size: calc(10px + 2vmin);
    color: gray;
}

#dashboardBuilder__img {
    height: 40vh;
    width: 40vw;
    background-color: gray;
}