.mobileDashboard {
    height: 65vh;
    width: 15vw;
    background-color: white;
    border: 6px solid gray;
    border-radius: 35px;
}

.bulletIndicator {
    margin: 0.5vw;
    height: 0.5vw;
    width: 0.5vw;
    background-color: darkgray;
    border: 1px solid black;
    border-radius: 0.5vw;
}

#mobileDashboard__mobileBullet1 {
    margin-left: 1vw;
}

#mobileDashboard__mobileBullet4 {
    margin-right: 1vw;
}